{{#if courseGroupInst}}
  <div id="two-col-row-{{item.id}}-{{index}}" class="two-col-select-item {{side}}-item" data-uid={{item.user.id}} data-row="{{item.index}}" data-side="{{side}}" data-groupId="{{item.course.id}}">
    {{two-col-cell-checked-icon item=item side=side}} {{item.user.label}}
  </div>
{{else}}

<div id="two-col-row-{{item.id}}-{{index}}" class="{{if disabled 'two-col-cell-label-disabled' ''}} two-col-select-item {{side}}-item" data-uid={{item.id}} data-row="{{item.index}}" data-side="{{side}}" data-disabled="{{disabled}}">

  <span class="two-col-cell-label" data-uid={{item.id}} data-row="{{item.index}}" data-side="{{side}}" data-disabled="{{disabled}}">
     {{#unless disabled}}{{two-col-cell-checked-icon item=item side=side}}{{/unless}}
     {{get item rowLabel}}
  </span>

  <span class="two-col-cell-icon" data-uid={{item.id}} data-row="{{item.index}}" data-side="{{side}}">
     {{#if item.icon}} <a href="#" data-toggle="tooltip" data-placement="auto right" title="{{item.icon.hoverText}}"><i class="fa {{item.icon.faIcon}}" aria-hidden="true"></i></a>{{/if}}
  </span>

</div>
{{/if}}
{{yield}}
