<td class="vertical-top">
  {{#if hasFilter}}
    {{#if showFilters}}
      {{two-col-select-toggle-filter toggleFilters=(action "toggleFilters")}}
      <div class="container-fluid">
      {{#each filters as |filter|}}
      <div class="row two-col-filter">
          {{#if (eq filter.type "multi-select")}}
          <div class="col-sm-12">
            <div class="form-group two-col-select-filter">
                <label class="control-label condensed-label">{{filter.label}}</label>
                <div class="position-rel">
                    <div class="selectize-dropdown-icon">
                      {{fa-icon "caret-down" size=1 color='#333333'}}
                    </div>
                    {{ember-selectize
                        content=filter.filterSelectContent
                        optionValuePath=filter.optionValuePath
                        optionLabelPath=filter.optionLabelPath
                        multiple=true
                        selection=filter.selectedItems
                        filterTarget=filter.filterTarget
                        filterTargetVar=filter.filterTargetVar
                        sortField=filter.sortField
                        remove-item=(action "updateSelectFilter" filter)
                        add-item=(action "updateSelectFilter" filter)
                        id=(unique-name-helper model='twoColSelectFilter' name=side dbid=filter.label)
                    }}
                </div>
              </div>
            </div>
            {{else if (eq filter.type "checkbox")}}
              <div class="col-sm-12">
                <div class="checkbox two-col-checkbox-filter">
                  <label >{{input id=(unique-name-helper model='twoColSelectCheckbox' name=side dbid=filter.id) type="checkbox" name="{{filter.filterCheckbox}}" checked=filter.filterCheckbox change=(action "checkFilter" filter)}}{{filter.label}}</label>
                </div>
              </div>
            {{else if (eq filter.type "date-range")}}
              <div class="col-md-12">
                <div class="row date-range-container">
                  <div class="col-md-6">
                    <label class="control-label condensed-label">{{filter.label}}</label>
                    <div id="{{filter.name}}-start-date-wrapper" class="start-date-wrapper">
                      {{pikaday-input
                          value=filter.dateFrom
                          readonly="readonly"
                          onSelection=(action (mut filter.dateFrom))
                          yearRange="2000,currentYear"
                          format="MM/DD/YYYY"
                          id=(unique-name-helper model='twoColSelectDateFrom' name=side dbid="dateFrom")
                      }}

                      {{#pikaday-clear-icon altClass='two-col-select-pikaday-clear' targetDate=filter.dateFrom icon='fa-times'}}{{/pikaday-clear-icon}}
                    </div>
                  </div>

                  <div class="col-md-6">
                    <label class="control-label condensed-label">{{filter.label2}}</label>
                    <div id="{{filter.name}}-end-date-wrapper" class="end-date-wrapper">
                      {{pikaday-input
                          value=filter.dateTo
                          readonly="readonly"
                          onSelection=(action (mut filter.dateTo))
                          yearRange="2000,currentYear"
                          format="MM/DD/YYYY"
                          id=(unique-name-helper model='twoColSelectDateTo' name=side dbid="dateTo")
                      }}

                      {{#pikaday-clear-icon altClass='two-col-select-pikaday-clear' targetDate=filter.dateTo icon='fa-times'}}{{/pikaday-clear-icon}}
                    </div>
                  </div>
                </div>
              </div>
            {{else if (eq filter.type "text")}}
              <div class="col-sm-12">
                <div class="form-group two-col-text-filter">
                  <label class="control-label condensed-label">{{filter.label}}</label>
                  <div>
                    <div class="icon-addon addon-sm">
                      {{input-trim id=(unique-name-helper model='twoColSelectSearchValue' name=side dbid=filter.id) type="text" class="form-control input-sm"  value=filter.searchValue }}
                      <label for="name" class="glyphicon glyphicon-search" rel="tooltip" title="name"></label>
                    </div>
                  </div>
                </div>
              </div>
            {{/if}}
        </div>
      {{/each}}
    </div>
    {{else}}
      {{two-col-select-toggle-filter show=true toggleFilters=(action "toggleFilters")}}
    {{/if}}
  {{/if}}
  {{#unless hideCheckAll}}
    {{two-col-select-check-all checkboxVal=allChecked checkboxName=checkboxName checkAll=(action "checkAll") tableData=filteredTableData disabled=checkAllDisabled}}
  {{else}}
    <div class="hidden-checkbox"></div>
  {{/unless}}
</td>
{{yield}}
