.scroll-box{
  height: 500px;
  overflow-y: scroll;
  overflow-x: hidden;
  margin-top: 5px;
  border: 1px solid #ccc;
}

@media(max-width:750px) {
  .scroll-box{
    height: 300px;
    overflow-y: scroll;
    margin-top: 5px;
  }
}

.two-col-select-item{
  padding: 5px;
  font-weight: 300;
  font-size: 14px;
  margin-left: 5px;
  margin-right: 5px;
  border: 0;
  background: none;
}

.two-col-cell-label{
  width: 500px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: inline-block;
  word-wrap: break-word;
}

// At differnt screen resolutions, allow more or less characters to display before truncaiton.
@media(max-width:1700px) {
  .two-col-cell-label{
    width: 270px;
  }
}

@media(max-width:1200px) {
  .two-col-cell-label{
    width: 200px;
  }
}

@media(max-width:765px) {
  .two-col-cell-label{
    width: 500px;
  }
}

.two-column-select-container tbody tr:nth-child(even) {
  background: #F9F9F9;
}

.two-column-select-container tbody tr:nth-child(odd) {
  background: #FFFFFF;
}

.two-col-checkbox-filter{
  position: relative;
  left: 1px;
}

.two-col-select-filter,
.two-col-text-filter{
  padding-left: 15px;
  padding-right: 15px;
}

.two-col-text-filter {
  margin-bottom: 6px !important;
}

.two-col-filter > div > .form-group{
  margin-bottom: 0px;
}

.two-col-select-grouped-heading{
  padding-left: 5px;
  padding-top: 10px;
}

.start-date-wrapper{
  padding-left: 0px;
  position: relative;
}

.end-date-wrapper {
  position: relative;
}

.start-date-wrapper > .form-group > input,
.end-date-wrapper > .form-group > input{
   background-color: white;
}

.start-date-wrapper > input,
.end-date-wrapper > input{
  padding-left: 5px;
  border-radius: 1px!important;
  color: $input-color;
}

.daterangepicker-input{
  margin-left: 15px;
}

.scroll-box > tr, .scroll-box > tr > td,
.full-width, .full-width > td{
  display: block;
  width: 100%;
}

.no-results{
  font-style: italic;
  text-align: left;
  font-size: 16px;
  color: #777777;
}

.start-date-wrapper > input,
.end-date-wrapper > input{
  border: 1px solid #d0d0d0;
  border-radius: 3px;
  padding-top: 5px;
  padding-bottom: 3px;
  width: 100%;
}

.two-column-select-container{
  td {
    padding: 0;
  }

  tr {
    padding: 0;
  }
}

.two-col-select-icon{
  margin-top: 275px;
}

.two-col-select-icon-vertical{
  margin-bottom: 10px
}

.two-col-select-results{
  text-align: center;
  font-size: 12px;
  padding-top: 1px;
  padding-bottom: 1px;
}

.condensed-label{
  font-size: 12px;
  padding-top: 0px!important;
}

.two-col-select-filter{
  margin-bottom: 0px;
}

.input-sm,
.two-col-select-filter > div > div > .selectize-input{
  // height: 30px;
  padding: 5px 10px;
  font-size: 12px;
  line-height: 1.5;
  border-radius: 0px;
}

.two-col-select-filter > div > div > .selectize-input > .item{
  padding: 0px 3px;
}

.two-col-select-filter > div > div > .selectize-input > .item > .remove{
  top: -2px;
}

.no-bottom-border{
  border-bottom: none;
}

.vertical-top{
  vertical-align: top!important;
}

.right-col-header{
  height: 36.8px;
}

.two-col-select-wrapper{
  @include make-xs-column(12);

  @include make-sm-column(12);

  @include make-md-column(11,0);
  @include make-md-column-offset(1);

  @include make-lg-column(11,0);
  @include make-lg-column-offset(1);
}

.content-left-side{
  @include make-xs-column(12);
  @include make-sm-column(4);
  @include make-md-column(5, 6);
}

.content-center{
  @include make-xs-column(12);
  @include make-sm-column(3, 1);
  @include make-md-column(1, 0);
}

.content-right-side{
  @include make-xs-column(12);
  @include make-sm-column(4);
  @include make-md-column(5, 6);
}

.content-table-label{
  height: 45px;
}

.content-table-label > label{
  margin-top: 15px;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

.toggle-filter-label{
  font-size: 12px;
}

.row-checked{
  background-color: #E1F5FE;
}

.selected{
  background-color: #B3E5FC;
}

.two-col-select-row{
  margin-left: 5px;
}

.two-col-check-row{
  padding-right: 5px;
}

.two-col-un-check-row{
  padding-right: 3px;
}

.two-col-select-pikaday-clear {
  top: 9px;
  right: 12px;
  font-size: 10px;
  color: #000000;
  position: absolute;
}

.max-assignable-error-msg{
  padding-left: 0px;
}

.disabled-checkbox{
  color: #CFD8DC;
  cursor: not-allowed;
}

.disabled-checkbox-label{
  color: #CFD8DC;
  cursor: not-allowed;
}

.two-col-cell-label-disabled{
  color: #CFD8DC;
  cursor: not-allowed;
}

.hidden-checkbox{
  height: 19px;
}
