<h2 id="title">Welcome to Ember</h2>
    <h1> {{model.leftTableDataList.length}} </h1>
    <h1> {{model.rightTableDataList.length}} </h1>

    {{two-col-select
        leftColumnTitle=leftColumnTitle
        rightColumnTitle=rightColumnTitle
        leftTableDataList=model.leftTableDataList
        rightTableDataList=model.rightTableDataList
        sortKey=sortKey
        twoColSelectLabels=twoColSelectLabels
        leftTableFilterList=model.leftFilters
        rightTableFilterList=rightFilters
        moveItems=(action "moveItems")
        rightTableTabFilterList=model.rightTableTabFilters

    }}
